"""High-level tests for {{ package_name }} package."""


def test_package() -> None:
    """Test importing the {{ package_name }} package."""
    import {{ package_name }}  # noqa: PLC0415

    assert {{ package_name }}.__name__ == "{{ package_name }}"
